.gb {background-color:#2D5F7C;color:white;border:thin}
.noun{color:#2D5F7C;font-size: 25px}
.prog{font-size: 50px;font-family: Times}
.pron{font-style: italic;color:#2D5F7C}
.defi{font-weight: bolder}
.sen{color:#2D5F7C;font-weight: bold}
.geek{font-style: italic}
.sm{font-size: 11px}
.fis{font-weight: bold}